<%- include("../partials/header") %>
<div class="container"> 
        <h1 style="text-align: center;">Add  new campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="name" name="name"></div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="image url" name="image"></div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Description" name="description"></div>
                <button class="btn btn-success btn-block" >submit</button>
            </form>
        </div>
        
    <div class="alert text-center"><a href="/campgrounds">Go Back!</a></div>
</div>

<%- include("../partials/footer") %>